@font-face {
    font-family: 'AppleSd';
    src: url('../font/Apple-sd-gothic-neo-Thin.woff2') format('woff2'),
    url('../font/Apple-sd-gothic-neo-Thin.woff') format('woff');
    font-weight: 100;
}

@font-face {
    font-family: 'AppleSd';
    src: url('../font/Apple-sd-gothic-neo-Light.woff2') format('woff2'),
    url('../font/Apple-sd-gothic-neo-Light.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'AppleSd';
    src: url('../font/Apple-sd-gothic-neo-Regular.woff2') format('woff2'),
    url('../font/Apple-sd-gothic-neo-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'AppleSd';
    src: url('../font/Apple-sd-gothic-neo-Medium.woff2') format('woff2'),
    url('../font/Apple-sd-gothic-neo-Medium.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'AppleSd';
    src: url('../font/Apple-sd-gothic-neo-Bold.woff2') format('woff2'),
    url('../font/Apple-sd-gothic-neo-Bold.woff') format('woff');
    font-weight: 700;
}


body {
    margin: 0;
    min-width: 320px;

    font-family: 'AppleSd', sans-serif;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    padding: 10px 15px;

    background-color: #fff;
    box-shadow: 0 6px 15px 0 rgba(0,0,0,0.07);
}

.page-header__title {
    margin: 0;

    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
}

.new-note__desktop {
    display: none;
}

.page-header__new-note {
    position: relative;

    width: 25px;
    height: 25px;
    cursor: pointer;

    padding: 0;
    background-color: transparent;
    border: none;

}

.page-header__new-note:before {
    content: '+';
    position: absolute;
    top: 0;
    left: 7px;

    font-size: 25px;
    line-height: 25px;
    color: #ffb000;
}

.page-main {
    padding: 15px;
}

.note {
    position: relative;
    padding: 10px 15px;
    margin-bottom: 15px;
}

.note__title {
    margin-top: 0;
    margin-bottom: 10px;

    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
}

.note__delete {
    position: absolute;
    top: 4px;
    right: 5px;

    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
}

.delete {
    width: 15px;
    height: 15px;
}

.note__edit {
    position: absolute;
    top: 5px;
    right: 30px;

    cursor: pointer;
    width: 14px;
    height: 14px;
    background-color: transparent;
    border: none;
    padding: 0;
}

.edit {
    width: 14px;
    height: 14px;
}

.note__item {
    position: relative;
    margin-bottom: 5px;
}

.note-item__label {
    display: block;
    padding-left: 20px;

    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    cursor: pointer;
}

.note-item__more {
    padding-left: 20px;

    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    color: rgba(84, 84, 84, 0.6);
}

.note-item__checkbox {
    display: none
}

.note-item__checkbox + .note-item__label::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 14px;
    height: 14px;
    border: 1px solid rgba(84, 84, 84, 0.7);
}

.note-item__checkbox:checked + .note-item__label::before {
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 12px;
    text-align: center;
    line-height: 14px;
    color: #535353;
}

.note-item__checkbox:checked + .note-item__label {
    text-decoration: line-through;
}

.note-item__checkbox:active + .note-item__label::before{
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .25)
}

.disabled {
    cursor: auto;
    color: rgba(84, 84, 84, 0.6);
}

.note-item__checkbox + .disabled::before {
    border: 1px solid rgba(84, 84, 84, 0.2);
    background-color: rgba(84, 84, 84, 0.05);
}

.confirm-delete {
    display: none;
    width: 290px;
    padding: 20px;
    box-sizing: border-box;

    position: fixed;
    top: 100px;
    left: calc(50% - 145px);
    background-color: #ffffff;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.25);

    text-align: center;
}

.delete__text {
    margin-top: 0;
    margin-bottom: 20px;

    text-align: left;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
}

.delete__button, .cancel__button {
    padding: 8px;

    cursor: pointer;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;

    background-color: transparent;
    border: 1px solid #000;
}

.delete__button {
    margin-right: 10px;
    background-color: #d6a2a2;
}

.note-edit__header {
    position: relative;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 15px;

    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.07);
}

.edit__back {
    position: absolute;
    top: 14px;
    left: 13px;

    width: 25px;
    height: 25px;
    padding: 0;
    background: transparent;
    border: none;

    display: flex;
    justify-content: center;

    cursor: pointer;
}

.edit__button {
    width: 25%;
    height: 35px;
    padding: 0;
    background: transparent;
    border: none;

    display: flex;
    justify-content: center;

    cursor: pointer;
}

.note-edit__title {
    margin: 0;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
}

.note-edit__list {
    padding-left: 20px;
    padding-right: 20px;
}

.undo, .redo, .save {
    width: 20px;
    height: 20px;
}

.control-panel .delete {
    width: 20px;
    height: 20px;
}

.back {
    width: 18px;
    height: 18px;
}

#undo, #save, #delete {
    fill: rgba(0, 0, 0, 0.5);
}

#back {
    fill: rgba(0, 0, 0, 0.6);
    fill: #ffb000;
}

.redo {
    transform: scale(-1, 1);
}

.control-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    box-shadow: 0 -6px 15px 0 rgba(0,0,0,0.07);
}

.note-edit .note-item__label{
    padding-left: 32px;
    line-height: 22px;
    font-size: 17px;
}

.note-edit .note-item__checkbox + .note-item__label::before {
    top: -2px;
    left: 0;
    width: 22px;
    height: 22px;
    border: 1px solid rgba(84, 84, 84, 0.7);
}

.note-edit .note-item__checkbox:checked + .note-item__label::before {
    font-size: 17px;
    text-align: center;
    line-height: 22px;
    color: rgba(84, 84, 84, 0.7);
    color: #ffb000;
}

.note-edit .note-item__checkbox:checked + .note-item__label {
    text-decoration: line-through;
    color: rgba(84, 84, 84, 0.7);
}

.note-edit .note-item__checkbox:active + .note-item__label::before,
.note-edit .note-item__checkbox:hover + .note-item__label::before{
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .25)
}

.note-edit__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-item__delete {
    width: 20px;
    height: 20px;
    padding: 0;

    background-color: transparent;
    border: none;
}

.cross {
    width: 20px;
    height: 20px;
}

@media (min-width: 768px) {
    .page-header {
        align-items: center;
        padding: 20px;
    }

    .page-header__title {
        font-size: 22px;
        line-height: 24px;
    }

    .page-header__new-note {
        width: auto;
        height: 22px;
        font-size: 18px;
        line-height: 22px;
        color: #ffb000;
        font-weight: 100;
    }

    .new-note__desktop {
        display: block;
    }

    .page-header__new-note:before {
        display: none;
    }

    .page-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .note {
        width: 44%;
        margin-right: 25px;
    }

    .not__title{
        font-size: 19px;
    }

    .page-main .note:nth-child(2n) {
        margin-right: 0;
    }
}

@media (min-width: 1024px) {

    .note {
        width: 29%;
        margin-right: 19px;
    }

    .page-main .note:nth-child(2n) {
        margin-right: 19px;
    }

    .page-main .note:nth-child(3n) {
        margin-right: 0;
    }
}
